
body{
  font-family: sans-serif;
  text-shadow: 2px 2px 5px #000000;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  width:1200px;
}
form{
  background-image: linear-gradient(to right, #9900ff, #aab6ec);
  border-radius: 20px;
  padding-top: 20px ;
  padding-bottom: 40px;
  font-family: sans-serif;
  font-size: 12px;
}
h1{
  font-size: 24px;
  box-shadow: 0px 3px 0px #000000;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
span{
  font-size: 12px;
}
.boxcolor{
  background-color: #fcf0b8;
  border-radius: 5px;
  border: none;
  width: 330px;
  height: 35px;
  box-shadow: 2px 2px 1px #000000;
}
.center{
  text-align: center;        
}
.espaco{
  padding-left: 40px;
}
.enviar{
  padding-left: 40px;
}
.botao{
  width: 80px;
  height: 35px;
  border-radius: 5px;
  color: #fffce2;
  background-color: #060606;
  box-shadow: 2px 1px 1px #000000;
  text-shadow: 1px 1px 5px #fffce2;
  border: none;
}
.msgbox{
  width: 330px;
  height: 100px;
  background-color: #fcf0b8;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 1px #000000;
}
.rotulos{
  width: 100px;
  float: left;
  text-align: right;
  padding-top: 10px;
  padding-right: 5px;
  font-weight: bold;
  font-size: 14px;
}
div{
  padding-top: 20px;
}
#topo{
  width: 550px;
  margin: 0 auto;
}